<title><%= title %></title>
<link rel="stylesheet" href="/materialize/css/materialize.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="/materialize/js/materialize.js"> </script>


<style>
    body {
        /*background-color: #263238;*/
        /*color: #e8e8e8;*/
    }
</style>

