<nav class="blue darken-2">
<div class="container">
	<ul id="nav-mobile" class="right hide-on-med-and-down">
		<li><a href="/" class="material-icons" style="padding-top: 30%;padding-bottom: 30%;height: 100%;display: block;font-size: 190%;">home</a></li>
		<li><a href="/songs">Songs</a></li>
		<li><a href="/albums">Albums</a></li>
	</ul>
</div>
</nav>
