<style>

	#logo-container {
		top: 10%;
		height: 80%;
	}
	#logo-text {
		color: #fff;
		display: inline-block;
		font-size: 2.1rem;
		margin-left: 65px;
		font-family: 'Roboto Slab', serif;
	}

</style>

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

<nav class="blue darken-3" role="navigation" style = "">
	<div class="nav-wrapper container" id = "desktop-nav-menu">
		<a href="/">
			<img id="logo-container"  class="brand-logo left" src = "/images/logo.svg" style = ""> </img>
			<div id="logo-text">InfraWave</div>
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">

			<li><a href="/" class="material-icons" style="padding-top: 30%;padding-bottom: 30%;height: 100%;display: block;font-size: 190%;">home</a></li>
			<li><a href="/songs">Songs</a></li>
			<li><a href="/albums">Albums</a></li>
		</ul>
	</div>
</nav>
