<!DOCTYPE html>
<html>
<head>
    <!--<link rel='stylesheet' href='/materialize/css/materialize.css'/>-->
    <% include includes/header.ejs %>
</head>

<body class = "blue-grey darken-4 white-text">

<% include includes/navbar.ejs %>

<div class = "container">

	<h1 class=""><%= title %></h1>
	<p>Welcome to <%= title %></p>

</div>

</body>
</html>
