<!DOCTYPE html>
<html>
<head>
	<!--<link rel='stylesheet' href='/materialize/css/materialize.css'/>-->
	<% include includes/header.ejs %>
</head>

<body class="blue-grey darken-4 white-text">

<% include includes/navbar.ejs %>

<div class="container">
	<div class="row">
		<div class="col l8 offset-l2">
			<h1 class=""><%= title %></h1>
			<p>Welcome to InfraWave</p>
			<br>
			<br>
			<br>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio lacus, ultrices non est a, vestibulum porttitor erat. Nam at leo in dui sagittis gravida. Aliquam ante justo, volutpat quis rhoncus sit amet, lacinia sed lacus. Vivamus lacinia mi aliquam, placerat turpis volutpat, molestie diam. Cras quis nunc sem. Quisque rutrum tempus enim eu suscipit. Donec vulputate scelerisque convallis. Cras erat libero, maximus in erat ut, consectetur efficitur turpis. Integer eu erat mauris. Duis bibendum augue nec nisl ultrices faucibus. Maecenas imperdiet elit ac enim aliquam feugiat.
				Mauris eu sem sit amet metus elementum auctor non sed sapien. Vivamus ornare nisl nec scelerisque congue. Donec ipsum turpis, blandit sed erat quis, bibendum iaculis eros. Etiam ut elit et elit rhoncus vestibulum. Duis mollis egestas augue nec fermentum. Donec vel metus molestie, tempor ante nec, euismod sem. Nam in tortor placerat, vulputate diam vel, vestibulum ex. Quisque lobortis hendrerit dapibus. Duis volutpat rhoncus ipsum, vel ultrices ipsum lacinia in. Praesent molestie porttitor dictum. Sed tempor mollis imperdiet. Nulla molestie arcu eget semper dignissim. Mauris lacinia aliquet luctus. Aliquam eu erat leo.
				<br>
				<br>
				Sed interdum non odio eget vulputate. Aenean blandit lacus ac dolor cursus iaculis. Duis mollis dui in ex ornare egestas. Nullam ut quam ut nisl consequat congue nec vehicula nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque tempor eu arcu sit amet volutpat. Vivamus ultricies eget diam sit amet vulputate. Nullam imperdiet sodales metus finibus mattis. Phasellus pretium a purus ut placerat. Praesent mattis malesuada lectus, ut laoreet mauris efficitur sed. Vivamus ut libero venenatis, auctor sem vel, tempus diam. Nullam lacinia, magna non luctus tristique, velit magna lobortis risus, vitae egestas purus neque ac enim. Integer nisl neque, pharetra fermentum volutpat ac, pharetra eu dolor. Sed auctor ligula vel diam lacinia dictum. Sed et elit arcu.
				Morbi scelerisque mollis vulputate. Phasellus eu posuere magna, nec molestie quam. Vivamus eros nulla, lacinia consectetur odio vitae, ornare euismod felis. Aliquam auctor porta dui, aliquam semper velit finibus nec. Maecenas vulputate justo non velit maximus, tempor dignissim sem cursus. Suspendisse at cursus turpis. In aliquam ornare diam, viverra luctus lorem. Nam tristique rutrum viverra. Phasellus id purus at nibh malesuada pellentesque quis eu quam. Duis cursus, ex ut ornare luctus, urna tortor iaculis nibh, ac vehicula urna eros eu nunc. Nunc augue augue, luctus sit amet efficitur ac, vestibulum id nunc.
				Sed ac magna fringilla, sollicitudin libero vel, aliquet enim. Integer suscipit tellus a dictum lacinia. Cras eu neque quis elit suscipit mattis nec non nibh. Duis id sem ac est aliquam efficitur. Curabitur a lorem vitae enim venenatis pulvinar. Fusce sit amet lacus eget purus rhoncus facilisis. Fusce enim risus, blandit ac ipsum ut, malesuada laoreet arcu. Suspendisse faucibus leo eu magna efficitur porta. Cras sollicitudin nibh sit amet arcu ornare convallis eu vel nisl. Proin lobortis condimentum commodo. Duis hendrerit malesuada fermentum. Ut nisi urna, sagittis cursus feugiat at, maximus non quam.
			</div>
		</div>
	</div>
</div>

</body>
</html>
