body {
    color: #FFFFFF;
    background-color: #444;
}

body, html {
    height: 100%;
    margin: 0;
}

@keyframes form-change {
    0% { border-radius: 150px; color: white }
    5% { color: transparent }
    20% { border-radius: 0 }
    70% { width: 100%; height: 200px }
    100% { color: transparent; border-radius: 0; width: 100%; height: 200px  }
}

#section-1 {
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 50px;

    background: url('../images/infrawave_background.svg') no-repeat center;
    background-size: cover;

}

#section-2 {
    color: black;
    display: block;
}

#songs-table {
    margin-top: 50px;
    padding: 0 40px;
}

#songs-table th {
    background-color: #111;
    padding-top: 30px;
    padding-bottom: 30px;
}

#songs-table tr:nth-child(even) {
    background-color: #21304c;
}

#songs-table tbody tr:nth-child(odd) {
    background-color: #112142;
}

#songs-table tbody tr td:nth-child(1), tr th:nth-child(1) {
    padding-left: 60px;
}

#songs-table tr {
    transition: 0.2s ease;
}
#songs-table tbody tr:hover {
    background-color: #33405d;
    cursor: pointer;
}

#song-form {

}

#form-btn {
    padding: 15px;
    border-radius: 4px;
    background-color: #2196F3;
    transition: 0.2s ease;
}

#form-btn:hover {
    cursor: pointer;
    background-color: #00b0ff;
}

#now-playing {
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

.title-text {
    -webkit-margin-before: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;

    text-align: center;
}

.card-container a {
    color: #e8e8e8;
}

.form-stage-0 {
    display: none;
}

.form-stage-1 .text-input {
    transform: scaleX(0);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
}

.form-stage-1 .button-input {
    opacity: 0;
    animation: fade 0.3s forwards;
    animation-delay: 0.3s;
}

.btn-stage-1 {
    display: none;
}

@keyframes grow-left {
    0% {
        transform: scaleX(0);
        background-color: #444;
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.open-button {
    animation: form-change 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.open-button i {
    display: none;
}

.closed-button i {
    display: inline-block;
}

.song-card {
    width: 200px;
    cursor: pointer;
    transition: 0.3s;
}

.song-card p {
    color: #e8e8e8;
}

.song-card span {
    font-weight: 400 !important;
}

.song-card:hover {
    box-shadow: 0 8px 17px 2px rgba(256, 256, 256, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}