nav {
    background-color: transparent;
    box-shadow: none;
    transition: 0.4s ease;
}

#logo-container {
    top: 10%;
    height: 80%;
}

#logo-text {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    margin-left: 65px;
    font-family: 'Roboto Slab', serif;
}

#home-tab {
    padding-top: 30%;
    padding-bottom: 30%;
    height: 100%;
    display: block;
    font-size: 190%;
}